<!Import vom Basis html-Template>
   {% extends "base.html" %}

   <!Bereich wird in Basis html-Template eingefügt>
      {% block content %}

      <body>
      <div class="container">
         <h1 style="color:green">{% block title %} Automatisiertes Gewächshaus - <h1>Admin-Bereich</h1>       
           {% endblock %}</h1>
         </br>
         </br>
      </div>
         <div class="container">
         <div class="row">
            <div class="column md-4">
               <div class="card flex-column">

      
               <h3> Programm Laden </h3>
                              
               <form method="POST" action="/admin">
                  <fieldset>  
                  <p>
                     <label for="satellit">
                     <span>Satellit auswählen: </span>
                     </label>
                     <SELECT name="s_id" id="satellit">
                        {% for i in satellite_list %}
                        <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
                        {% endfor %}
                     </SELECT>
                     </p>
                     <p>
                        <label for="programm">
                           <span>Programm auswählen: </span>
                        </label>
                        <SELECT name="p_id" id="programm">
                           {% for i in programm_list %}
                           <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
                           {% endfor %}
                        </SELECT>
                     </p>
                     <input class="align-items-end" type="submit" name="Button" value="Programm laden">
               </fieldset>
            </form>           
         </div>
      </div>
            <div class="column md-4">
               <div class="card">

             
                  <h3>Satellit hinzufügen</h3>
                  <fieldset>
               <form method="POST" action="/admin">
                  </br>
                  <p>
                     <label for="name">
                     <span>Name: </span>
                     </label>
                      </br>
                  <input type="text" id="name" name="satellite_name">
                  </p>
                  <p>
                     <label for="ipadresse">
                     <span>IP-Adresse: </span>
                     </label>
                  </br><input type="text" id="ipadresse" name="ip_addr">
                  
                  <input type="submit" name="Button" value="Satellit hinzufügen">
                  </form>
                  </fieldset>
            </div>
         </div>

            <div class="column md-4">
               <div class="card">

               <h3>Programm hinzufügen</h3>
               </br>
               <fieldset>
                  <legend>Eingaben</legend> 
               <form method="POST" action="/admin">
                  </br>
                  <label for="name">
                     <span>Name: </span>
                     </label>
                  </br><input type="text" id="name" name="programm_name">
                  </br>
                  <p2>Temperatur:</p2>
                  </br><input type="number" id="temperatur" name="temperatur">
                  </br>
                  <p3>Helligkeit:</p3>
                  </br><input type="number" id="helligkeit" name="helligkeit">
                  </br>
                  <p3>Luftfeuchtigkeit:</p3>
                  </br><input type="number" id="luftfeuchtigkeit"  name="luftfeuchtigkeit">
                  </br>
                  <p3>Bodenfeuchtigkeit:</p3>
                  </br><input type="number" id="bodenfeuchtigkeit" name="bodenfeuchtigkeit">
                  </br>
                  </br>
                  </br> <input type="submit" id="hinzufügen" name="Button" value="Programm hinzufügen">
               </form>
            </fieldset>
            </div>
         </div>
      </div>
         </div>
      </body>
         {% endblock %}