<!Import vom Basis html-Template>
   {% extends "base.html" %}

   <!Bereich wird in Basis html-Template eingefügt>
      {% block content %}
      
      <body>

      <div class="align-item-center p-3" align="middle">
         <h1 style="color:green">{% block title %} Automatisiertes Gewächshaus - <h1>Admin-Bereich</h1>         {% endblock %}</h1>
         </br>
         </br>
         <div class="row">
            <div class="col-md-4">
               <h3> Programm Laden </h3>
               </br>
               <form method="POST" action="/admin">
                  <p style="font-family:verdana">
                     Satellit auswählen: </br>
                     <SELECT name="s_id" style="font-family:verdana">
                        {% for i in satellite_list %}
                        <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
                        {% endfor %}
                     </SELECT>
                     </p>
                     <p style="font-family:verdana">
                        Programm auswählen:</br>
                        <SELECT name="p_id" style="font-family:verdana">
                           {% for i in programm_list %}
                           <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
                           {% endfor %}
                        </SELECT>
                     </p>
                     <input type="submit" name="Button" value="Programm laden">
                  </from>
            </div>


            <div class="col-md-4">
               <h3>Satellit hinzufügen</h3>
               </br>
               <form method="POST" action="/admin">
                  </br>
                  <p2>Name:</p2>
                  </br><input type="text" name="satellite_name">
                  </br>
                  <p3>IP-Adresse:</p3>
                  </br><input type="text" name="ip_addr">
                  </br>
                  </br>
                  </br>
                  <input type="submit" name="Button" value="Satellit hinzufügen">
                  </from>
            </div>

            <div class="col-md-4">
               <h3>Programm hinzufügen</h3>
               </br>
               <form method="POST" action="/admin">
                  </br>
                  <p1>Name:</p1>
                  </br><input type="text" name="programm_name">
                  </br>
                  <p2>Temperatur:</p2>
                  </br><input type="number" name="temperatur">
                  </br>
                  <p3>Helligkeit:</p3>
                  </br><input type="number" name="helligkeit">
                  </br>
                  <p3>Luftfeuchtigkeit:</p3>
                  </br><input type="number" name="luftfeuchtigkeit">
                  </br>
                  <p3>Bodenfeuchtigkeit:</p3>
                  </br><input type="number" name="bodenfeuchtigkeit">
                  </br>
                  </br>
                  </br> <input type="submit" name="Button" value="Programm hinzufügen">
            </div>
         </div>
      </body>
         {% endblock %}