<!-- Import of base-template -->
{% extends "base.html" %}

<!-- block content for base-template -->
{% block content %}
<!-- body with admin functions -->

<body>
    <div class="container p-4 align-items-center" align="middle"> 
    <!-- html-form tag with POST method -->
    <form method="POST" action="/admin">
        <p>
            <label for="user_name">
                <span>Name: </span>
            </label>
            </br>
            <!-- input tag type text for user text input programm name -->
            <input type="text" id="user_name" name="user_name">
        </p>
        <p>
            <label for="password">
                <span>Passwort: </span>
            </label>
            </br>
            <!-- input tag type number for user number input temperature -->
            <input type="password" id="password" name="password">
        </p>
        <!-- submit button which triggers POST method to submit user inputs and adds programm -->
        <input type="submit" name="Button" value="Login" style="background-color: green; color: white;">
        </form>
        </div>
</body>

    {% endblock %}