{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />

<body>
  <div class="p-1" align="middle">
    <h2 style="color:green">{% block title %} Automatisiertes Gewächshaus - <h3> Dashboard </h3>{% endblock %}</h2>
    
    <form method="POST" action="/dashboard">
      <p style="font-family:verdana">
        Satellit auswählen:
        <SELECT name="satellite_id" style="font-family:verdana">
          {% for i in satellite_list %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
        &nbsp;&nbsp;
        Programm auswählen:
        <SELECT name="programm_id" style="font-family:verdana">
          {% for i in programm_list %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
        &nbsp;&nbsp;
        Zeitraum auswählen:
        <SELECT name="selected_date" style="font-family:verdana">
          {% for i in date_span %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
      </p>
      <input class="float right" type="submit" name="loadButton" value="Laden">
    </form>
  </div>
</body>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <canvas id="chart" width="500" height="200"></canvas>

        <script>

          // get bar chart canvas

          let lab
          // draw bar chart
          new Chart(document.getElementById("chart"), {
            type: 'line',
            data: {
              labels: [{% for item in dates_list %}'{{ item }}', {% endfor %}],
            datasets: [{
              data: [
                {% for item in temperature_list %}{{ item }}, {% endfor %}],
                  label: 'Temperatur',
                  fill: false,
                  borderColor: "#c45850"

               }
            ]
          },
          options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                max: 50

              }
            }]
           
    }
  }
});

        </script>
      </div>

      <div class="col-md-6">
        <canvas id="chart1" width="500" height="200"></canvas>

        <script>


          new Chart(document.getElementById("chart1"), {
            type: 'line',
            data: {
              labels: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{
              data: [
                {% for item in brightness_list %}
            {{ item }},

            {% endfor %}],

            label: 'Helligkeit',
            fill: false,
            borderColor: "#e8c3b9",


           
            }
     
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  max: 12

                }
              }]
            }
          }
}

          );



        </script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <canvas id="chart2" width="500" height="200"></canvas>

        <script>

          new Chart(document.getElementById("chart2"), {
            type: 'line',
            data: {
              labels: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{

              data: [
                {% for item in airhumidity_list %}
            {{ item }},


            {% endfor %}],
            label: 'Luftfeuchhtigkeit',
            borderColor: "#3e95cd",
            fill: false

            

            }
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  max: 100

                }
              }]
            }
          }

}
          );



        </script>
      </div>
      <div class="col-md-6">
        <canvas id="chart3" width="500" height="200"></canvas>

        <script>

          
   

          new Chart(document.getElementById("chart3"), {
            type: 'line',
            data: {
              labels: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{

              data: [
                {% for item in soilhumidity_list %}
            {{ item }},


            {% endfor %}],
            label: 'Bodenfeuchtigkeit',
            borderColor: "#3cba9f",
            fill: false



            }
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  max: 100

                }
              }]
            }
          }

}
          );




        </script>
      </div>
    </div>
  </div>
</body>
{% endblock %}