{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

<body>
  <div class="p-1" align="middle">
    <h2 style="color:green">{% block title %} Automatisiertes Gewächshaus {% endblock %}</h2>
    <h3> Dashboard </h3>
    <form method="POST" action="/dashboard">
      <p style="font-family:verdana">
        Satellit auswählen:
        <SELECT name="satellite_id" style="font-family:verdana">
          {% for i in satellite_list %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
        &nbsp;&nbsp;
        Programm auswählen:
        <SELECT name="programm_id" style="font-family:verdana">
          {% for i in programm_list %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
        &nbsp;&nbsp;
        Zeitraum auswählen:
        <SELECT name="selected_date" style="font-family:verdana">
          {% for i in date_span %}
          <OPTION value={{i[0]}}>{{i[1]}}</OPTION>
          {% endfor %}
        </SELECT>
      </p>
      <input class="float right" type="submit" name="loadButton" value="Laden">
    </form>
  </div>
</body>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <canvas id="chart" width="500" height="200"></canvas>

        <script>

          // get bar chart canvas


          // draw bar chart
          new Chart(document.getElementById("chart"), {
            type: 'line',
            data: {
              lables: [{% for item in dates_list %}'{{ item }}', {% endfor %}],
            datasets : [{
              data: [
                {% for item in temperature_list %}{{ item }}, {% endfor %}],
                  lable: 'Temperatur',
                  fill: false 
               }
            ]
          },
          options: {
            responsive: true,
          title: {
            display: true
          },
          legend: {
            display: true
          },
          scales: {
            yAxes: [{
              ticks: {
                min: 20,
                max: 50,
                stepSize: 5
              }
            }],
            xAxes: [{
              type: 'category',
              time: {
                unit: 'day',
                tooltipFormat: 'MMM DD'
              }
      }],
    }
  }
});

        </script>
      </div>

      <div class="col-md-6">
        <canvas id="chart1" width="500" height="200"></canvas>

        <script>
Chart.defaults.global.animationSteps = 50;
          Chart.defaults.global.tooltipYPadding = 20;
          Chart.defaults.global.tooltipCornerRadius = 0;
          Chart.defaults.global.tooltipTitleFontStyle = "normal";
          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";

          // get bar chart canvas

          //steps = 4
          // max = {{ max }}

          // draw bar chart

          new Chart(document.getElementById("chart1"), {
            type: 'line',
            data: {
              lables: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{
              data: [
                {% for item in brightness_list %}
            {{ item }},

            {% endfor %}],

            lable: 'Helligkeit'
           
            }
     
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
}

          );



        </script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <canvas id="chart2" width="500" height="200"></canvas>

        <script>
Chart.defaults.global.animationSteps = 20;
          Chart.defaults.global.tooltipYPadding = 10;
          Chart.defaults.global.tooltipCornerRadius = 0;
          Chart.defaults.global.tooltipTitleFontStyle = "normal";
          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";


          // get bar chart canvas

          // steps = 4
          //max = {{ max }}

          // draw bar chart

          new Chart(document.getElementById("chart2"), {
            type: 'line',
            data: {
              lables: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{

              data: [
                {% for item in airhumidity_list %}
            {{ item }},


            {% endfor %}],
            label: 'Luftfeuchhtigkeit'

            }
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }

}
          );



        </script>
      </div>
      <div class="col-md-6">
        <canvas id="chart3" width="500" height="200"></canvas>

        <script>

          Chart.defaults.global.animationSteps = 50;
          Chart.defaults.global.tooltipYPadding = 20;
          Chart.defaults.global.tooltipCornerRadius = 0;
          Chart.defaults.global.tooltipTitleFontStyle = "normal";
          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
          // get bar chart canvas

          // steps = 4
          //max = {{ max }}

          // draw bar chart

          new Chart(document.getElementById("chart3"), {
            type: 'line',
            data: {
              lables: [
                {% for item in dates_list %}
                  '{{ item }}',
 {% endfor %}
                ],

            datasets : [{

              data: [
                {% for item in soilhumidity_list %}
            {{ item }},


            {% endfor %}],
            label: 'Bodenfeuchtigkeit'

            }
            ]
},
            options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }

}
          );




        </script>
      </div>
    </div>
  </div>
</body>
{% endblock %}