<!-- Import of base-template -->
{% extends "base.html" %}

<!-- block content for base-template -->
{% block content %}

<!-- displays title and project logo -->

<body>
        <div class="p-3" align="middle">
                </br>
                <h1 style="color:green">{% block title %} Automatisiertes Gewächshaus {% endblock %}</h2>
                <hr>
                </br>
                <h2> Willkommen!</h2>
                </br>
                <img src="static/logo.jpg" />
                </br>
                <hr>
                 </br>
        </div>
</body>
{% endblock %}