@charset "UTF-8";

.row {
border: 10px solid #22b241;
border-radius: 8px;

}
.column {
    border: 10px solid #22b241;
    border-radius: 8px;
    
    }
.form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
}