
.footer{
    width: 100%;
    text-align: center;
    align-items: center;
    left: 0;
    bottom: 0;
    color: white;
    position: fixed;
}

.col{
    border: 5px;
    border-radius: 5px;
    border-color: gray;
}
.row{
    border: 5px;
    border-radius: 5px;
    border-color: gray;
}
