
/*footer-class*/
/*fixed position at the bottom of the site*/
/*text and items aligned in center*/
/* stretched over whole length*/
.footer{
    width: 100%;
    text-align: center;
    align-items: center;
    left: 0;
    bottom: 0;
    color: white;
    position: fixed;
    
}

